<!DOCTYPE html>
<html>
<head>
  <title>MReservation</title>
  <%= stylesheet_link_tag    "m_reservation/application", media: "all" %>
  <%= javascript_include_tag "m_reservation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
